:root {
    --blue: #333377;
    --dark_blue: #333333;
    --dark: #111111;
}

body {
    background-color: var(--dark_blue);
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, var(--blue)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, var(--blue)), color-stop(.75, var(--blue)), color-stop(.75, transparent), to(transparent));
    background-size: 14px 14px;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    color: #FFFFFF;
}

footer {
    font-size: small;
}

footer * {
    color: #FFFFFF;
}

#canvas {
    border-radius: 12px;
    border: 5px solid var(--dark_blue);
    box-sizing: border-box;
    box-shadow: 0 0 8px var(--dark);
}